{% load static %}
<!DOCTYPE html>   
<html lang="pl">
<head>
<meta charset="UTF-8"> 
<link rel="stylesheet" href="{% static 'css/style.css' %}">

<script>

function validateForm(form) {
  var data = document.forms["pogoda_form"]["data"].value;
  var czas = document.forms["pogoda_form"]["czas"].value;
  var miejsce = document.forms["pogoda_form"]["miejsce"].value;
  var tmax = document.forms["pogoda_form"]["tmax"].value;
  var tmin = document.forms["pogoda_form"]["tmin"].value;
  var cisnienie = document.forms["pogoda_form"]["cisnienie"].value;
  var wiatr = document.forms["pogoda_form"]["wiatr"].value;
  var porywy = document.forms["pogoda_form"]["porywy"].value;
  var opad = document.forms["pogoda_form"]["opad"].value;
  var zachmurzenie = document.forms["pogoda_form"]["zachmurzenie"].value;

  if (data == "") {
    alert("Pole Data jest niepoprawne");
    if(form != null)   throw new Error();
    return false;
  }

  else if (czas == "") {
    alert("Pole Czas jest niepoprawne");
    if(form != null)   throw new Error();
    return false;
  }

  else if (miejsce == "") {
    alert("Pole Miejsce jest niepoprawne");
    if(form != null)   throw new Error();
    return false;
  }

  else if (tmax == "" || parseInt(tmax) < -200 || parseInt(tmax) > 200) {
    alert("Pole Tmax jest niepoprawne");
    if(form != null)   throw new Error();
    return false;
  }

  else if (tmin == "" || parseInt(tmin) < -200 || parseInt(tmin) > 200) {
    alert("Pole Tmin jest niepoprawne");
    if(form != null)   throw new Error();
    throw new error();
  }

  else if (parseInt(tmax) < parseInt(tmin)){
    alert("Błąd: Tmin większe od Tmax");
    if(form != null)   throw new Error();
    return false;
  }

  else if (cisnienie == "" || parseInt(cisnienie) < 500 || parseInt(cisnienie) > 1500) {
    alert("Pole Ciśnienie jest niepoprawne");
    if(form != null)   throw new Error();
    return false;
  }

  else if (wiatr == "" || parseInt(wiatr) < 0 || parseInt(wiatr) > 500) {
    alert("Pole Wiatr jest niepoprawne");
    if(form != null)   throw new Error();
    return false;
  }

  else if (porywy == "" || parseInt(porywy) < 0 || parseInt(porywy )> 1000) {
    alert("Pole Porywy jest niepoprawne");
    if(form != null)   throw new Error();
    return false;
  }

  else if (parseInt(wiatr) > parseInt(porywy)){
    alert("Błąd: Wiatr większy od Porywy");
    if(form != null)   throw new Error();
    return false;
  }

  else if (opad == "" || parseInt(opad) < 0 || parseInt(opad) > 1000) {
    alert("Pole Opad jest niepoprawne");
    if(form != null)   throw new Error();
    return false;
  }

  else if (zachmurzenie == "" || parseInt(zachmurzenie) < 0 || parseInt(zachmurzenie) > 100) {
    alert("Pole Zachmurzenie jest niepoprawne");
    if(form != null)   throw new Error();
    return false;
  }


  if(form != null) add_indexdb(form);

    return true ;

} 



var db = null;
var request = window.indexedDB.open("project",2);

request.onupgradeneeded = function(event) {
    
    if (event.oldVersion < 1){
    db = request.result;
                
        var store = db.createObjectStore("pogoda", {keyPath: ["data", "czas", "miejsce"]});

    }

    if (event.oldVersion < 2){

    var store = request.transaction.objectStore("pogoda");

    //store.createIndex("by_data", "data", {unique: true});

    store.createIndex('data, czas, miejsce', ['data', 'czas', 'miejsce'],{unique: true});

    }
 
   };



// Populate with initial data.
request.onsuccess = function() {
    db = request.result;

};

// Handle any errors
 request.onerror = function() {
 console.error("Something went wrong when we tried to request the database!");
 };


function add_indexdb(){

   var transaction = db.transaction(["pogoda"], "readwrite");


   transaction.oncomplete = function() {
        console.log("All done!");
        window.alert("Dodano rekord");
   };

   transaction.onerror = function() {
        console.log("Something went wrong with our transaction: ", transaction.error);
    };

   var store = transaction.objectStore("pogoda");
   

   var pogoda_form = document.getElementById("pogoda_form");
   var data = pogoda_form.elements.data;  
   var czas = pogoda_form.elements.czas; 
   var miejsce = pogoda_form.elements.miejsce;  
   var tmax = pogoda_form.elements.tmax; 
   var tmin = pogoda_form.elements.tmin;
   var cisnienie = pogoda_form.elements.cisnienie; 
   var wiatr = pogoda_form.elements.wiatr;  
   var porywy = pogoda_form.elements.porywy;
   var opad = pogoda_form.elements.opad;
   var zachmurzenie = pogoda_form.elements.zachmurzenie;

   var request = store.add({data: `${data.value}`, 
             czas: `${czas.value}`,
             miejsce: `${miejsce.value}`,
             tmax: `${tmax.value}`, 
             tmin: `${tmin.value}`,
             cisnienie: `${cisnienie.value}`,
             wiatr: `${wiatr.value}`,
             porywy: `${porywy.value}`,
             opad: `${opad.value}`,
             zachmurzenie: `${zachmurzenie.value}`
            });

   request.onsuccess = function(event) {
        // Done! Here, `request.result` will be the object's key, "coffee_cup"
   };


};


function select_indexdb(){

   var transaction = db.transaction(["pogoda"]);
   transaction.oncomplete = function() {
        console.log("All reading done!");
   };

   transaction.onerror = function() {
       console.log("Something went wrong with our transaction reading: ", transaction.error);
   };



var txt = 
`
<div class="show_records_tab">
    <div class="show_records_th">Pogoda rekordy IndexedDB</div>
    <div class="show_records_tr">
        <div class="show_records_td">
         data 
        </div>

         <div class="show_records_td">
         czas
        </div>

         <div class="show_records_td">
         miejsce 
        </div>

        <div class="show_records_td">
        tmax 
        </div>

        <div class="show_records_td">
        tmin 
        </div>

        <div class="show_records_td">
        cisnienie 
        </div>

        <div class="show_records_td">
        wiatr 
        </div>

        <div class="show_records_td">
        porywy
        </div>

        <div class="show_records_td">
        opad 
        </div>

        <div class="show_records_td">
        zachmurzenie 
        </div>
    </div>
`;
   var store = transaction.objectStore("pogoda");
   var request = store.openCursor();
   request.onsuccess = function(event) {
   let cursor = event.target.result;
      if (cursor) {
         let key = cursor.primaryKey;
         let value = cursor.value;
         console.log(key, value);


 
       txt+=
   `

    <div class="show_records_tr">
        <div class="show_records_td">
         ${value.data} 
        </div>

         <div class="show_records_td">
         ${value.czas}
        </div>

         <div class="show_records_td">
         ${value.miejsce}
        </div>

        <div class="show_records_td">
        ${value.tmax}
        </div>

        <div class="show_records_td">
        ${value.tmin}
        </div>

        <div class="show_records_td">
        ${value.cisnienie}
        </div>

        <div class="show_records_td">
        ${value.wiatr}
        </div>

        <div class="show_records_td">
        ${value.porywy}
        </div>

        <div class="show_records_td">
        ${value.opad}
        </div>

        <div class="show_records_td">
        ${value.zachmurzenie}
        </div>
    </div>
        `;
 
        cursor.continue();
         }
      else {

                    // no more results
    txt+=
    `
    </div>
    `;
    document.getElementById("field_txt").innerHTML = txt

        }
}; 
   

};


function select_sqlite(){

          document.getElementById("field_txt").innerHTML ="";
          document.getElementById("field_txt").innerHTML +=
`
    {% if pogoda_list %}

<div class="show_records_tab">
    <div class="show_records_th">Pogoda rekordy SQlite3</div>
    <div class="show_records_tr">
        <div class="show_records_td">
         data 
        </div>

         <div class="show_records_td">
         czas
        </div>

         <div class="show_records_td">
         miejsce 
        </div>

        <div class="show_records_td">
        tmax 
        </div>

        <div class="show_records_td">
        tmin 
        </div>

        <div class="show_records_td">
        cisnienie 
        </div>

        <div class="show_records_td">
        wiatr 
        </div>

        <div class="show_records_td">
        porywy
        </div>

        <div class="show_records_td">
        opad 
        </div>

        <div class="show_records_td">
        zachmurzenie 
        </div>
    </div>


      {% for pogoda in pogoda_list %} 

    <div class="show_records_tr">
        <div class="show_records_td">
         {{pogoda.data}} 
        </div>

         <div class="show_records_td">
         {{pogoda.czas}}
        </div>

         <div class="show_records_td">
         {{pogoda.miejsce}} 
        </div>

        <div class="show_records_td">
        {{pogoda.tmax}}
        </div>

        <div class="show_records_td">
        {{pogoda.tmin}}
        </div>

        <div class="show_records_td">
        {{pogoda.cisnienie}}
        </div>

        <div class="show_records_td">
        {{pogoda.wiatr}}
        </div>

        <div class="show_records_td">
        {{pogoda.porywy}}
        </div>

        <div class="show_records_td">
        {{pogoda.opad}}
        </div>

        <div class="show_records_td">
        {{pogoda.zachmurzenie}}
        </div>
    </div>

      {% endfor %}


</div>
      {% endif %} 
`

   
};





function _upd_list() {

var txt =
`
<form name='migration'><select name='del' size='10'>
`;



   var transaction = db.transaction(["pogoda"]);
   transaction.oncomplete = function() {
        console.log("All reading done!");
   };

   transaction.onerror = function() {
       console.log("Something went wrong with our transaction reading: ", transaction.error);
   };

   console.log("updlist");

  var store = transaction.objectStore("pogoda");
   var request = store.openCursor();


   request.onsuccess = function(event) {

   let cursor = event.target.result;



      if (cursor) {

         let key = cursor.primaryKey;
         let value = cursor.value;
         console.log(key, value);

       
txt += 
`
      <option>{ "data": "${value.data}", "czas": "${value.czas}", "miejsce": "${value.miejsce}", "tmax": ${value.tmax}, "tmin": ${value.tmin}, "cisnienie": ${value.cisnienie}, "wiatr": ${value.wiatr}, "porywy": ${value.porywy}, "opad": ${value.opad}, "zachmurzenie": ${value.zachmurzenie} }</option>
`;

        cursor.continue();
         }
      else {
txt+=
`
</select><br/><input type='button' value='migruj zaznaczone' onclick='migrate_selected(this.form)'/>
<input type='button'  value='migruj wszystko' onclick='migrate_all(this.form)'/>
</form>
`;
document.getElementById('migration_id').innerHTML = txt;

                    // no more results
        }

}  }
 

var request;
function getRequestObject(){
if ( window.ActiveXObject)  {
return ( new ActiveXObject("Microsoft.XMLHTTP")) ;
} else if (window.XMLHttpRequest)  {
return (new XMLHttpRequest())  ;
} else {
return (null) ;
}
}




function migrate_all(form) {
 
   var sel = form.del.selectedIndex;
   var len = form.del.options.length;
   var rec;

   var xhr = [], i;


   for(var i = 0; i < len ; ++i)
   { 
       xhr[i] = getRequestObject() ;
       var url = "/pogoda/" ;
       xhr[i].open("POST", url, true);
       xhr[i].setRequestHeader("Content-Type","application/json");
       var token = '{{csrf_token}}';
       xhr[i].setRequestHeader("X-CSRFToken",token);
      
 
       console.log(form.del.options[i].text);
       var rec = JSON.parse(form.del.options[i].text);        
       var data = JSON.stringify(rec);
       xhr[i].send(data);
   }

   var transaction = db.transaction(["pogoda"], "readwrite");
   var objectStore = transaction.objectStore("pogoda").clear();
   console.log("Migracja wszystkiego zrobiona");
   window.alert("Migracja wszystkiego zrobiona");

};

function migrate_selected(form) {

   xmlHttp = getRequestObject() ;
   var url = "/pogoda/" ;
   xmlHttp.open("POST", url, true);
   xmlHttp.setRequestHeader("Content-Type","application/json");
   var token = '{{csrf_token}}';
   xmlHttp.setRequestHeader("X-CSRFToken",token);
  

   var sel = form.del.selectedIndex;
   var len = form.del.options.length;
   var rec;

   console.log(form.del.options[sel].text);
   var rec = JSON.parse(form.del.options[sel].text);        
   var data = JSON.stringify(rec);
   xmlHttp.send(data);

   var transaction = db.transaction(["pogoda"], "readwrite");
   var objectStore = transaction.objectStore("pogoda").delete([rec["data"], rec["czas"], rec["miejsce"] ]);
   console.log(rec["data"]);
   
   console.log("Migracja zaznaczonego rekordu zrobiona");
   window.alert("Migracja zaznaczonego rekordu zrobiona");


};


  
function _update(form) {
    var user = {};
    user.ident = form.ident.value;
    user.fname = form.fname.value;
    user.lname = form.lname.value;
    user.faculty = form.faculty.value;
    user.year = form.year.value;
    txt = JSON.stringify(user);
    document.getElementById('result').innerHTML = ''; 
    document.getElementById('data').innerHTML = '';  
    request = getRequestObject() ;
    request.onreadystatechange = function() {
         if (request.readyState == 4 && request.status == 200 )    {
            document.getElementById('result').innerHTML = request.response;
          }
    }
    request.open("PUT", "http://pascal.fis.agh.edu.pl/~6mikulec/rest/update1/"+id_mongo, true);
    request.send(txt);
}

</script>

{% if user.is_authenticated %}

<title>System rejestracja pogody online</title>
     
{% else %}
 
<title>System rejestracja pogody offline</title>
{% endif %} 



</head>

<body>
<header>
<nav id='nav-top'>

<div class="dropbutton"><a href="{% url 'index' %}">Dodaj dane</a></div>
<div class="dropbutton"><a href="{% url 'przegladaj' %}">Przeglądaj</a></div>

{% if user.is_authenticated %}

 <div style="float: right;" class="dropbutton"><a href="{% url 'logout' %}">Wyloguj</a>
</div>

<div style="padding: 12px 16px; float: right; position: relative; display: inline-block;" >Użytkownik: {{ user.get_username }}
</div>

     
{% else %}
<div style="float: right;" class="dropbutton"><a href="{% url 'zaloguj' %}">Zaloguj</a>
</div>
 
  {% endif %} 


</nav>


{% if user.is_authenticated %}

<div id='logo'>
<img src='{% static 'pogoda.png' %}' height='70' width='70' alt=''/>
System rejestracji pogody online 
</div>

{% else %}
 <div id='logo'>
<img src='{% static 'pogoda.png' %}' height='70' width='70' alt=''/>
System rejestracji pogody offline 
</div>

{% endif %} 



</header>

<main>
<article id='article'>
{% block content %}

{% endblock %}
</article>
</main>

<footer>
<div style="float: right;">
<a href="{% url 'dokumentacja' %}">Dokumentacja</a>
</div>
Copyright © 2019
</footer>

</body>
