{% extends "base_generic.html" %}

{% block content %}

<h2>Dokumentacja Strony</h2>

<hr />
<p>Strona została napisana jako projekt numer 2 na techniki internetowe WFIIS.</p>
<p>Autor: Andrzej Mikulec</p>
<p><strong>Tematem projektu jest: System rejestracji pogody.</strong><br />
Technologia:<br />
Serwer: Python3 + Django framework + SQlite3<br />
Przeglądarka: HTML + JavaScript + CSS + IndexedDB<br />
Nieprzyporządkowane: AJAX <br />
</p>

Struktura URI:
<ul>
<li>pogoda/</li>
 <li>pogoda/dokumentacja/</li>
 <li>pogoda/wykres/</li>
 <li>pogoda/przegladaj/</li>
 <li>pogoda/zaloguj/</li>
 <li>pogoda/logout/</li>
 <li>pogoda/rejestracja/</li>
</ul>

<hr />
<h4>Jak uruchomić serwer?</h4>
Aby uruchomić serwer należy wejść do katalogu projektu. Następnie uruchamiamy serwer wywołując poleceniem:<br /><br />
<b style="color: grey">python3 manage.py runserver localhost:8000</b>
<hr />
<h4>Opis projektu</h4>
<p>
System rejestracji pogody pracuje w dwóch trybach:
<ul>
<li><b>Tryb offline</b> Po pierwszym wejsciu na strone znajdujemy się w tym trybie. Tutaj możesz dodać dane do lokalnej bazy danych IndexedDB przeglądarki. Wypełniając prawidłowo pola oraz naciskajac przycisk "Dodaj offline". Rekord został zapisany w bazie. Pod warunkiem że otrzymałeś taki komunikat. W tym trybie panel zawiera kilka zakładek takich jak:
<ul>
    <li>Dodaj dane - jest to strona głowna możesz dodawać rekordy do bazy offline</li>
    <li>Przeglądaj - w tej zakładce możesz zobaczyć zapisane rekordy bazy offline</li>
    <li>Zaloguj - klikając na tą zakłądkę możesz zalgować się do trybu online albo zarejestrować użytkownika</li>
</ul>

<li><b>Tryb online</b> Po zalogowaniu się do trybu online panel uległ drobnej zmianie. Zamiast zakładki "Zaloguj" pojawia się nazwa użytkownika a obok zakładka "Wyloguj". Dodatkowo zmienia się napis na "System rejestracji pogody online". W tym trybie można zrobić dokładnie to samo co w trybie offline tylko że rekordy będą zapisywane albo odczytywane z bazydanych na serwerze SQlite3. Jednym wyjątkiem jest to że tryb ma dodatkową funkcjonalność. Jest nim migracja znajdująca się w zakładce "Dodaj dane". Oraz możliwość generowania wykresów w zakładce "Przeglądaj". Po naciśnieciu przycisku migracja ukażą nam się rekordy bazy IndexedDB które można zaznaczyć i naciskając "migruj zaznaczone" rekord zostanie przesłany do bazy SQLite3 a lokalny rekord zostanie usuniety. Podobnie działa "migruj wszystko" z tym że zrobi to dla wszystkich rekordów. Kolejna rzecz to generowanie wykresów. Przechodząc do zakładki "Przeglądaj" wybieramy miejsowość i naciskamy "Generuj". Zostanie wygenerowany wykres przedstawiajacy maksymalne temeratury w danym mieście na podstawie danych zgromadzonych w bazie SQlite3.



</li>



</ul>




{% endblock %}
