{% extends "base_generic.html" %}

{% block content %}


{% if user.is_authenticated %}

<h3>Migracja</h3>
Migruj lokalną bazę danych do bazy na serwerze
<br />
<input type="button" value="migracja" onClick="_upd_list();"/>
<div id="migration_id"></div>
<br />
<br />
<h3>Dodaj Online</h3>
{% endif %} 



{% if user.is_authenticated %}
<form id="pogoda_form" onsubmit="return validateForm(null)" method="post" action="/pogoda/">
{% else %}
<form id="pogoda_form" action="">
{% endif %} 
 
<fieldset>
<table>
      <tr>
        <td>Data:</td>
        <td><input type="date" name="data" value=""></td>
      </tr>
      <tr>
        <td>Godzina:</td>
        <td><input type="time" name="czas" value=""></td>
      </tr>

      <tr>
        <td>Miejsce: </td>
        <td> <input type="text" name="miejsce" value=""></td>
      </tr>
</table>
</fieldset>

<fieldset>
<table>
    
      <tr>
        <td>Tmax:</td>
        <td><input type="number" min="-200" max="200" size="5" name="tmax" value=""></td>
        <td><sup>o</sup>C</td>
      <tr>
        <td>Tmin:</td>
        <td><input type="number" min="-200" max="200" size="5"  name="tmin" value=""></td>
        <td><sup>o</sup>C</td>
      </tr>

      <tr>
        <td>Ciśnienie:</td>
        <td><input type="number" min="500" max="1500" size="5"  name="cisnienie" value=""></td>
        <td>hPa</td>
      </tr> 

       <tr>
        <td>Wiatr:</td>
        <td><input type="number" min="0" max="500" name="wiatr" value=""></td>
        <td>km/h</td>
      </tr>

      <tr>
        <td>Porywy:</td>
        <td><input type="number" min="0" max="1000" size="5" name="porywy" value=""></td>
        <td>km/h</td>
      </tr>
    
      <tr>
        <td>Opad:</td>
        <td><input type="number" min="0" max="1000" size="5" name="opad" value=""></td>
        <td>mm</td>
      </tr>

      <tr>
        <td>Zachmurzenie:</td>
        <td><input type="number" min="0" max="100" size="5" name="zachmurzenie" value=""></td>
        <td>%</td>
      </tr>

</table>
    </fieldset>
        <br><br>

{% if user.is_authenticated %}
<input type="submit" value="Dodaj online">
 {% csrf_token %}
{% else %}
        <input type="button" value="Dodaj offline" onClick="validateForm(this.form);">
{% endif %} 


</form> 



{% endblock %}
