{% extends "base_generic.html" %}

{% block content %}


{% if user.is_authenticated %}
    {{chart}}

<form method="post" action="/pogoda/wykres/">
{% csrf_token %}
<h4>Generuj wykres</h4>

<div id=chart_sel>
<script>


function select_chart(){
  document.getElementById("chart_sel").innerHTML ="";
  document.getElementById("chart_sel").innerHTML +=
`
    {% if pogoda_list %}
    miejscowosc:<br /><select name="miejsce">

      {% for pogoda in miejsce_list %} 
      
        <option value="{{pogoda.miejsce}}">{{pogoda.miejsce}}</option>  

      {% endfor %}

    </select>
      {% endif %} 
`}
select_chart();


</script>



</div>
<br />
<input type="submit" value="Generuj"/> 
</form>

<br />

<h4>Podgląd rekordów bazy</h4>

     <input type="button" value="Pokaz bazę" onClick="onload=select_sqlite()">

{% else %}
 
        <input type="button" value="Pokaz bazę" onClick="onload=select_indexdb()">
{% endif %} 

  
    <fieldset>

   <div id="field_txt">

   </div>
    </fieldset>
 
{% endblock %}
