{% extends "base_generic.html" %}


{% block content %}



   </fieldset>
       <center>
       <h3>Stwórz Użytkownika</h3>
       <form method="POST">
       <fieldset style="width: 25%;">
       <legend>Rejestracja</legend>
       {% csrf_token %}
       użytkownik:<input type="text" name="username"/>
       email:<input type="email" name="email"/>
       hasło:<input type="password" name="password"/>
        <br>
        <br>
        <button type="submit">Stwórz</button>


   </fieldset>
       </form>
       </center>



{% endblock %}
