{% extends "base_generic.html" %}


{% block content %}


{% if user.is_authenticated %}

Uzytkownik jest juz zalogowany
{% else %} 
   </fieldset>
       <center>
       <h3>Zaloguj</h3>
       <form method="POST">
       <fieldset style="width: 25%;">
       <legend>tryb online:</legend>
       {% csrf_token %}
       {{ form }}
        <br>
        <a href="{% url 'rejestracja' %}">Stwórz użytkownika</a>
        <br>
        <button type="submit">Zaloguj</button>


       </fieldset>
       </form>
       </center>

{% endif %} 


{% endblock %}
